.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  background-color: #ffc2a0;
}
.insertcard {
  display: flex;
}
.card {
  background-color: #ffffff;
  border-radius: 12px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #ff8542;
  font-size: 60px;
}
.list-container {
  list-style-type: none;
}
.addbtn {
  background-color: #ffffff;
  border: #2610a5 2px solid;
  color: #2610a5;
  padding: 4px;
  border-radius: 9px;
  height: 30px;
  cursor: pointer;
}
